{% extends 'layout.html' %}

{% block title %}About | IceBlog{% endblock %}

{% block content %}

  <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('{{ url_for('static', filename='images/webp/about.webp') }}');">
    <div class="container">
      <div class="row same-height justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="post-entry text-center">
            <h1 class="">About Us</h1>
            <p class="lead mb-4 text-white">Want to know what IceBlog is?</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="{{ url_for('static', filename='images/webp/img_1.webp') }}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-5 mr-auto order-md-1">
          <h2>Your number 1 lifestyle blog</h2>
          <p>We don’t mean to brag, but we will serve you with the best blogs you need. We believe our readers will learn a thing or two from every blog post provided.</p>
          <p>We hope to answer your questions, give excellent advice and tips, give you something to think about, and give you something to make your day.</p>
          <p>Our blogs promise to be</p>
          <ul class="ul-check list-unstyled default">
            <li>Informative</li>
            <li>Educative</li>
            <li>Entertaining</li>
          </ul>
          <p>Please stay with us as we work diligently to serve you with our worth-reading blogs.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section" id="meet-team">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-5 text-center">
          <h2>Meet The Team</h2>
          <p>Thanks to these amazing writers who spend their time in writing resourceful and helpful blogs for IceBlog</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5 text-center">
          <img src="{{ url_for('static', filename='images/webp/person_1.webp') }}" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
          <h2 class="mb-3 h5">Kate Hampton</h2>
          <h4 class="mb-3 h6">CodedName</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum neque nobis eos quam necessitatibus rerum aliquid est tempore, cupiditate iure at voluptatum dolore, voluptates. Debitis accusamus, beatae ipsam excepturi mollitia.</p>

          <p class="mt-5">
            <a href="#" aria-label="Author's facebook link" class="p-3"><span class="icon-facebook"></span></a>
            <a href="#" aria-label="Author's instagram link" class="p-3"><span class="icon-instagram"></span></a>
            <a href="#" aria-label="Author's twitter link" class="p-3"><span class="icon-twitter"></span></a>
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-5 text-center">
          <img src="{{ url_for('static', filename='images/webp/randy.webp') }}" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
          <h2 class="mb-3 h5">Randy Duodu</h2>
          <h4 class="mb-3 h6">iSOLveIT</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum neque nobis eos quam necessitatibus rerum aliquid est tempore, cupiditate iure at voluptatum dolore, voluptates. Debitis accusamus, beatae ipsam excepturi mollitia.</p>

          <p class="mt-5">
            <a href="#" aria-label="Author's facebook link" class="p-3"><span class="icon-facebook"></span></a>
            <a href="#" aria-label="Author's instagram link" class="p-3"><span class="icon-instagram"></span></a>
            <a href="#" aria-label="Author's twitter link" class="p-3"><span class="icon-twitter"></span></a>
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-5 text-center">
          <img src="{{ url_for('static', filename='images/webp/person_3.webp') }}" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
          <h2 class="mb-3 h5">Kevin Peters</h2>
          <h4 class="mb-3 h6">CodedName</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum neque nobis eos quam necessitatibus rerum aliquid est tempore, cupiditate iure at voluptatum dolore, voluptates. Debitis accusamus, beatae ipsam excepturi mollitia.</p>

          <p class="mt-5">
            <a href="#" aria-label="Author's facebook link" class="p-3"><span class="icon-facebook"></span></a>
            <a href="#" aria-label="Author's instagram link" class="p-3"><span class="icon-instagram"></span></a>
            <a href="#" aria-label="Author's twitter link" class="p-3"><span class="icon-twitter"></span></a>
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}