{% extends 'layout.html' %}

{% block title %}About | IceBlog{% endblock %}

{% block content %}

  <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('{{ url_for('static', filename='images/webp/about.webp') }}');">
    <div class="container">
      <div class="row same-height justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="post-entry text-center">
            <h1 class="">About Us</h1>
            <p class="lead mb-4 text-white">Want to know what IceBlog is?</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="{{ url_for('static', filename='images/webp/img_1.webp') }}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-5 mr-auto order-md-1">
          <h2>Your number 1 lifestyle blog</h2>
          <p>We don’t mean to brag, but we will serve you with the best blogs you need. We believe our readers will learn a thing or two from every blog post provided.</p>
          <p>We hope to answer your questions, give excellent advice and tips, give you something to think about, and give you something to make your day.</p>
          <p>Our blogs promise to be</p>
          <ul class="ul-check list-unstyled default">
            <li>Informative</li>
            <li>Educative</li>
            <li>Entertaining</li>
          </ul>
          <p>Please stay with us as we work diligently to serve you with our worth-reading blogs.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section" id="meet-team">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-5 text-center">
          <h2>Meet The Team</h2>
          <p>Thanks to these amazing writers who spend their time in writing resourceful and helpful blogs for IceBlog</p>
        </div>
      </div>
      <div class="row">
        {% for member in team %}
            <div class="col-md-6 col-lg-4 mb-5 text-center">
              <picture>
                <source type="image/webp" srcset="{{ url_for('static', filename='images/webp/' + member['username'] + '.webp') }}">
                <img src="{{ url_for('static', filename='images/jpg/' + member['username'] + '.jpg') }}" alt="Image with the username of the author" class="img-fluid w-50 rounded-circle mb-4">
              </picture>

              <h2 class="mb-3 h5">{{ member['firstName'] }} {{ member['lastName'] }}</h2>
              <h4 class="mb-3 h6">{{ member['username'] }}</h4>
    
              <p>{{ member['biography'] }}</p>
            {% if member['twitter'] %}
              <p class="mt-5">
                <a href="mailto:{{ member['email'] }}" aria-label="Author's email address" class="p-3"><span class="icon-at"></span></a>
                <a href="https://instagram.com/{{ member['instagram'] }}" aria-label="Author's instagram link" class="p-3"><span class="icon-instagram"></span></a>
                <a href="https://twitter.com/@{{ member['twitter'] }}" aria-label="Author's twitter link" class="p-3"><span class="icon-twitter"></span></a>
              </p>
            {% else %}
              <p class="mt-5">
                <a href="mailto:{{ member['email'] }}" aria-label="Author's email address" class="p-3"><span class="icon-at"></span></a>
                <a href="https://instagram.com/{{ member['instagram'] }}" aria-label="Author's instagram link" class="p-3"><span class="icon-instagram"></span></a>
              </p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}