{%  extends 'layout.html' %}

{% block title %}Admin Dashboard | IceBlog{% endblock %}

{%  block content %}

<div class="py-5 mb-4">
  <div class="container">
    <div class="row dash">
      <div class="col-md-6 mb-2">
        <span>Dashboard</span>
        {% if user_info['gender'] == 'M' %}
          <h3>Welcome Mr. {{ user_info['lastName'] }}</h3>
        {% else %}
          <h3>Welcome Miss {{ user_info['lastName'] }}</h3>
        {% endif %}
        <a href="/admin_dashboard/add_article" aria-label="Add Article link" class="btn text-black" style="padding: 8px; border-radius: 8px;">
          Add Article
         </a>
      </div>

      <div class="col-md-6">
        {% include 'includes/_message.html'%}
      </div>
    </div>
  </div>
</div>


 <div class="container mb-5" style="background:transparent;">
   <div class="row">
    <table class="table table-striped col-12">
      <thead style="background-color: #8a334b; color:#ffffff;">
        <tr>
          <th>Date Posted</th>
          <th>Title</th>
          <th>Category</th>
          <th>Status</th>
          <th>Likes</th>
          <th>Date Updated</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          {% if posts %}
            {% for article in posts %}
              <tr>
                  <td>{{article.datePosted.strftime('%B %d, %Y')}}</td>
                  <td>
                    <b>
                        <a href="/blog_post/{{ article['title'].lower().replace(' ', '-') }}/{{ article['slug'] }}" aria-label="Blog Post link" target="blank" style="text-decoration: none;">
                            <u>{{article.title}}</u>
                        </a>
                    </b>
                  </td>
                  <td>{{article.category}}</td>
                  <td>{{article.status.capitalize()}}</td>
                  <td>{{article.likes}} likes</td>
                  <td>{{article.dateUpdated.strftime('%B %d, %Y')}}</td>
                  <td>
                    <a href='/admin_dashboard/edit_article/{{article._id}}' aria-label="Edit Article link" class="btn btn-success pull-right" style="color:#242424">Edit</a>
                  </td>
                  <td>
                  <form action="/admin_dashboard/delete_article/{{article._id}}" method="POST">
                      <input type="hidden" name="_method" value="DELETE">
                      <input type="submit" class="btn-danger" style="padding: 1px; border-radius: 8px;" value="Delete">
                  </form>
                  </td>
              </tr>
            {% endfor %}

      </tbody>
    </table> 
          {% else %}
                <div class="text-center text-secondary h4">All Clean :( Why don't you write some articles?</div>
          {% endif %}
   </div>
 </div> 
{% endblock %}