{% extends 'layout.html'%}

{% block title %}Blog Comments | IceBlog{% endblock %}

{% block content %}
<div class="py-5 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Comments</h3>
                <p>Approve comments for them to be published</p>
            </div>

        </div>
    </div>
</div>

<div style="background:transparent;">
    <div class="row mb-5" style="margin-right: 0; margin-left: 0;">
        <div class="container">
            {% if results %}
            <table class="table table-striped col-12">
                <thead class="text-center" style="background-color: #8a334b;color:#ffffff;">
                  <tr>
                    <th>Date Commented</th>
                    <th>Name</th>
                    <th>Message</th>
                    <th colspan="3">Status</th>
                  </tr>
                </thead>
                <tbody>
               
                {% for result in results %}
                    {% for comment in result.get('comments') %}
                        {% if comment.approved == False %}
                            <tr id="{{ comment.commentId }}">
                                <td>{{ comment.datePosted.strftime('%B %d, %Y') }}</td>
                                <td>{{ comment.name }}</td>
                                <td>{{ comment.message }}</td>
                                <td>
                                    <button type="button" name="{{ comment.commentId }}" id="{{ result._id }}_{{ result.get('comments').index(comment) }}_decline" value="false" style="padding:0.35rem; transition: all 0.25s ease-in-out;" class="btn_decline btn-danger rounded">
                                        Decline
                                    </button>
                                </td>
                                <td>
                                    <button type="button" name="{{ comment.commentId }}" id="{{ result._id }}_{{ result.get('comments').index(comment) }}_approve" value="true" style="padding:0.35rem; transition: all 0.25s ease-in-out;" class="btn_approve btn-success rounded">
                                        Approve
                                    </button>
                                </td>
                                <td>
                                    <button type="button" name="{{ comment.commentId }}" id="{{ result._id }}_{{ result.get('comments').index(comment) }}_reply" style="padding:0.35rem;" class="btn_reply btn-warning rounded">
                                        Reply
                                    </button>
                                </td>
                            </tr>  
                        {% endif %}  
                    {% endfor %} 
                {% endfor %}     
                </tbody>
              </table> 
            {% else %}
                <div class="text-center text-secondary h4">All Clean! No comments to approve.</div>
            {% endif %}
        </div>
    </div>

</div>

<!--Placeholder for replying message-->
<div class="reply-main">
    <div class="blurred"></div>

    <div class="card text-center reply-sub">
        <div class="card-header">
            <div style="float: left;" id="reply_alert">
                <div class="alert bg-success" id="alert_msg" style="display:inline;font-size:11pt;text-align:left;"
                    role="alert"></div>
            </div>
            <button type="button" class="quit btn" style="display: inline;">&CircleTimes;</button>
        </div>

        <div class="card-body" style="text-align:left;">
            <h5 class="card-text" style="text-align: left; font-weight: 500; font-size: 12pt;">The message should be clear, simple, and short. Remember 255 characters are allowed.</h5>
            <form>
                <div class="form-group ">
                    <label for="reply_label">Message: </label>
                    <input type="text" name="writer_reply" id="reply_label" minlength="8" maxlength="255" class="form-control"
                        placeholder="Enter reply message here ..." required>
                </div>
                <button type="submit" class="btn mb-2" id="reply_send">Reply</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}