{% extends 'layout.html'%}

{% block title %}Edit Article | IceBlog{% endblock %}

{% block content %}
<div class="py-5 mb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Edit Article</h3>
          <p>Make changes to your article</p>
        </div>
  
        <div class="col-md-6">
          {% include 'includes/_message.html'%}
        </div>
      </div>
    </div>
  </div>

<div style="background-color: #f5e9eb;" >
    <div class="row mb-5" style="margin-right: 0; margin-left: 0;">
        <div class="container">
            <div class="col-md-12 col-md-offset-4">
                <form method="post" action="">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.title.label(for="title") }}
                            {{ form.title(class_="form-control", id="title", placeholder="Blog post title") }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.keywords.label(for="keywords") }}
                            {{ form.keywords(class_="form-control", id="keywords", placeholder="Words relevant to your context. Eg: synonyms") }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.body.label(for="body") }}
                        {{ form.body(class_="form-control", id="body", rows=50, cols=20, placeholder="Write blog content here") }}
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{ form.category.label(for="category") }}
                            {{ form.category(class_="form-control", id="category", placeholder="E.g. Health, Education, Lifestyle, Tech, and more") }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.readTime.label(for="readtime") }}
                            {{ form.readTime(class_="form-control", id="readtime", placeholder="Example: 10 or 6") }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.status.label(for="status") }}
                            {{ form.status(class_="form-control", id="status") }}
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" name="bodyUpdated" aria-label="Checkbox for indicating the body is updated" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Body is Updated</label>
                    </div> 

                    <input type="submit" class= "btn text-black" style="padding: 8px; border-radius: 8px;" value="Submit">
                </form>
            </div>
        </div>
        
    </div>


{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}
</div>
{% endblock %}