{% extends 'layout.html' %}

{% block title %}Error | IceBlog{% endblock %}

{% block others %}
<div class="holder">
    <h2 class="text-white h2 mb-2 mt-2"
            style="font-family: 'Montez', cursive; font-size: 50px;">IceBlog</h2>
    
    <div class="error_handle pt-3 pb-2">
                <h1 style="font-family: 'Montez', cursive; font-size: 50px;" class="text-white">
                    <span class="icon-error_outline" style="font-size: 100px;"></span>
                </h1>
                <h1 style="font-family: 'Montez', cursive; font-size: 50px;" class="text-white">
                    Oops! An error occured...
                </h1>
                <h5 class="text-black text-left ml-3">Sorry, but we couldn't find the page you requested.</h5>
                <h5 class="text-black text-left ml-3">It looks like this was the result of either:</h5>
                <ul>
                  <li class="text-black text-left ml-3">a mistyped address</li>
                  <li class="text-black text-left ml-3">an out-of-date link</li>
                </ul>
                <p style="font-size:14pt;" class="text-white">Kindly, go back to the <a href="/" aria-label="Blog Homepage link" style="color:#000;">Homepage</a> </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center text-white">
          <p>
            Copyright &copy;
            <span id="footer_date"></span> All rights reserved | IceBlog
          </p>
        </div>
      </div>
</div>
{% endblock %}