{% extends 'layout.html' %}

{% block title %}Error | IceBlog{% endblock %}

{% block others %}
<div class="holder">
    <h2 class="text-white h2 mb-4 mt-4"
            style="font-family: 'Montez', cursive; font-size: 50px;">IceBlog</h2>
    
    <div class="error_handle pt-5 pb-5">
                <h1 style="font-family: 'Montez', cursive; font-size: 50px;" class="text-white">
                    <span class="icon-error_outline" style="font-size: 100px;"></span>
                </h1>
                <h1 style="font-family: 'Montez', cursive; font-size: 50px;" class="text-white">
                    Oops! An error occured...
                </h1>
                <p style="font-size:14pt;" class="text-white">Kindly, go back to the <a href="/" aria-label="Blog Homepage link" style="color:#000;">Homepage</a> </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center text-white">
          <p>
            Copyright &copy;
            <span id="footer_date"></span> All rights reserved | IceBlog
          </p>
        </div>
      </div>
</div>
{% endblock %}