{% extends 'layout.html' %}

{% block keywords %}
  IceBlog, iceblog, ice, Blog site, Lifestyle, Lifestyle Blog, Education, Educational Blog, Health, Technology, Tech Blog, Entertainment, Entertainment Blog, Ghana, Blogs, Stories, News, Blogging site, ice_blog_gh, iceblog_gh
{% endblock %}


{% block content %}

  <div class="site-section">
    <div class="container">
      <div class="row align-items-stretch retro-layout-2">
        <div class="col-md-4">
          <a href="/blog_post/{{ random_post[0]['title'].lower().replace(' ', '_') }}/{{ random_post[0]['slug'] }}" aria-label="Blog Post link" id="random1" class="h-entry mb-30 v-height gradient"
            style="--webp-random-post-one: url({{ 'https://drive.google.com/uc?export=view&id=' + random_post[0]['id_webp_cover'] }});
--jpg-random-post-one: url({{ 'https://drive.google.com/uc?export=view&id=' + random_post[0]['id_jpg_cover'] }});">

            <div class="text">
              <h2>{{ random_post[0]['title'] }}</h2>
              <span class="date">{{ random_post[0]['datePosted'].strftime('%B %d, %Y') }}</span>
            </div>
          </a>
          <a href="/blog_post/{{ random_post[1]['title'].lower().replace(' ', '_') }}/{{ random_post[1]['slug'] }}" aria-label="Blog Post link" id="random2" class="h-entry mb-30 v-height gradient"
            style="--webp-random-post-two: url({{ 'https://drive.google.com/uc?export=view&id=' + random_post[1]['id_webp_cover'] }});
--jpg-random-post-two: url({{ 'https://drive.google.com/uc?export=view&id=' + random_post[1]['id_jpg_cover'] }});">

            <div class="text">
              <h2>{{ random_post[1]['title'] }}</h2>
              <span class="date">{{ random_post[1]['datePosted'].strftime('%B %d, %Y') }}</span>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/blog_post/{{ random_post[2]['title'].lower().replace(' ', '_') }}/{{ random_post[2]['slug'] }}" aria-label="Blog Post link" id="random3" class="h-entry img-5 h-100 gradient"
            style="--webp-random-post-three: url({{ 'https://drive.google.com/uc?export=view&id=' + random_post[2]['id_webp_cover'] }});
--jpg-random-post-three: url({{ 'https://drive.google.com/uc?export=view&id=' + random_post[2]['id_jpg_cover'] }});">

            <div class="text">
              <div class="post-categories mb-3">
                <span class="post-category bg-dark">{{ random_post[2]['category'] }}</span>
              </div>
              <h2>{{ random_post[2]['title'] }}</h2>
              <span class="date">{{ random_post[2]['datePosted'].strftime('%B %d, %Y') }}</span>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/blog_post/{{ random_post[3]['title'].lower().replace(' ', '_') }}/{{ random_post[3]['slug'] }}" aria-label="Blog Post link" id="random4" class="h-entry mb-30 v-height gradient"
            style="--webp-random-post-four: url({{ 'https://drive.google.com/uc?export=view&id=' + random_post[3]['id_webp_cover'] }});
--jpg-random-post-four: url({{ 'https://drive.google.com/uc?export=view&id=' + random_post[3]['id_jpg_cover'] }});">

            <div class="text">
              <h2>{{ random_post[3]['title'] }}</h2>
              <span class="date">{{ random_post[3]['datePosted'].strftime('%B %d, %Y') }}</span>
            </div>
          </a>
          <a href="/blog_post/{{ random_post[4]['title'].lower().replace(' ', '_') }}/{{ random_post[4]['slug'] }}" aria-label="Blog Post link" id="random5" class="h-entry mb-30 v-height gradient"
            style="--webp-random-post-five: url({{ 'https://drive.google.com/uc?export=view&id=' + random_post[4]['id_webp_cover'] }});
--jpg-random-post-five: url({{ 'https://drive.google.com/uc?export=view&id=' + random_post[4]['id_jpg_cover'] }});">

            <div class="text">
              <h2>{{ random_post[4]['title'] }}</h2>
              <span class="date">{{ random_post[4]['datePosted'].strftime('%B %d, %Y') }}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h3 class="heading">Quote of the day</h3>
          <div class="post-entry-sidebar">
            <blockquote>
              <span class="icon-quote-left"></span> &nbsp;
              {{ inspire[0]['text'] }} &nbsp;
              <span class="icon-quote-right"></span>
            </blockquote> 
            <p class="text-black" style="float: right;"> - {{ inspire[0]['author'] }}</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="site-section" style="background-color: #f5e9eb;">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12">
          <h2>Recent Posts</h2>
        </div>
      </div>

      <div class="row">
        {% for post in recent_posts %}
          <div class="col-lg-4 mb-4">
            <div class="entry2">
              <a href="/blog_post/{{ post['title'].lower().replace(' ', '_') }}/{{ post['slug'] }}" aria-label="Blog Post link" >
                <picture>
	              <source type="image/webp" srcset="{{ 'https://drive.google.com/uc?export=view&id=' + post['id_webp_cover'] }}">
	              <img src="{{ 'https://drive.google.com/uc?export=view&id=' + post['id_jpg_cover'] }}" alt="{{ post['imageAltText'] }}" class="img-fluid rounded" style="height: 330px !important;width: 500px !important;">
                </picture>
              </a>
              <div class="excerpt">
                <span class="post-category text-white bg-{{ post['category'] }} mb-3">{{ post['category'] }}</span>

                <h2><a href="/blog_post/{{ post['title'].lower().replace(' ', '_') }}/{{ post['slug'] }}" aria-label="Blog Post link">{{ post['title'] }}</a></h2>
                <div class="post-meta align-items-center text-left clearfix">
                  <figure class="author-figure mb-0 mr-3 float-left">
                    <picture>
	                  <source type="image/webp" srcset="{{ url_for('static', filename='images/webp/' + post['author'] + '.webp') }}">
                      <img src="{{ url_for('static', filename='images/jpg/' + post['author'] + '.jpg') }}" alt="Image with the username of the author" class="img-fluid">
                    </picture>
                  </figure>
                  <span class="d-inline-block mt-1">By {{ post['author'] }}</span>
                  <span>&nbsp;-&nbsp; {{ post['datePosted'].strftime('%B %d, %Y') }}</span>
                </div>

                <p>{{ post['body'][:200] | safe }}...</p>
                <p><a href="/blog_post/{{ post['title'].lower().replace(' ', '_') }}/{{ post['slug'] }}" aria-label="Blog Post link" style="font-weight: 600;">Continue to read blog post</a></p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>

  <div class="site-section" id="newsletter">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-5">
          <div class="subscribe-1">
            <div class="col">
              {% include 'includes/_message.html'%}
            </div>
            <h2><label for="news_subscribe">Subscribe to our newsletter</label></h2>
            <p class="mb-5">
              Get informative blogs delivered to your inbox every week. 
              No spam ever. Unsubscribe any time. Curated by the IceBlog 😉.
            </p>
            <form action="" method="POST">
              <input type="email" name="newsletter" id="news_subscribe" class="form-control mb-2" placeholder="Enter your email address" maxlength="60" required>
              <input type="submit" class="btn" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}