<!DOCTYPE html>
<html lang="en">

<head>
  <title>EveBlog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.min.css') }}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@300;400;600&display=swap"
    rel="stylesheet">

</head>

<body>
  {% if others == True %}
  <div class="page-wrap gradient-primary">
    {% block others %}

    {% endblock %}
  </div>
  {% else %}
  <div class="site-wrap">
    {% include 'includes/navbar.html' %}

    {% block content %}

    {% endblock %}

    {% if session.logged_in %}
    <div class="site-footer" style="padding: .5em 0;">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <p style="margin-bottom: 0;">
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | EveBlog
            </p>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h3 class="footer-heading mb-4">About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reprehenderit magnam deleniti quasi
              saepe, consequatur atque sequi delectus dolore veritatis obcaecati quae, repellat eveniet omnis,
              voluptatem in. Soluta, eligendi, architecto.</p>
          </div>
          <div class="col-md-4">
            <div>
              <h3 class="footer-heading mb-4">Connect With Us</h3>
              <p>
                <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                <a href="#"><span class="icon-twitter p-2"></span></a>
                <a href="#"><span class="icon-instagram p-2"></span></a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p>
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | EveBlog
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% endif %}


  <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
  <!-- Download jquery library: -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>window.jQuery || document.write("<script src='{{ url_for('static', filename='js/jquery.min.js') }}'>\x3C/script>")</script>

  <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>


</body>

</html>