{% extends 'layout.html'%}

{% block title %}Sign Up | IceBlog{% endblock %}

{% block content %}
<div class="py-5 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Create User</h3>
                <p>Add a new user account</p>
            </div>

            <div class="col-md-6">
                {% include 'includes/_message.html'%}
            </div>
        </div>
    </div>
</div>

<div style="background-color: #f5e9eb;">
    <div class="row mb-5" style="margin-right: 0; margin-left: 0;">
        <div class="container">
            <div class="col-md-8 col-md-offset-4">
                <form method="post" action="">
                    <h4 style="color: #000033;" class="text-uppercase">User Information</h4>
                    <hr>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.last_name.label(for="last_name", class_="form-control-label") }}

                            {% if form.last_name.errors %}
                                {{ form.last_name(class_="form-control is-invalid", id="last_name", placeholder="Enter your last name", maxlength="30") }}
                                <div class="invalid-feedback">
                                    {% for error in form.last_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.last_name(class_="form-control", id="last_name", placeholder="Enter your last name", maxlength="30") }}
                            {% endif %}
                            
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.first_name.label(for="first_name", class_="form-control-label") }}

                            {% if form.first_name.errors %}
                                {{ form.first_name(class_="form-control is-invalid", id="first_name", placeholder="Enter your first name", maxlength="30") }}
                                <div class="invalid-feedback">
                                    {% for error in form.first_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.first_name(class_="form-control", id="first_name", placeholder="Enter your first name", maxlength="30") }}
                            {% endif %}
                
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.email.label(for="email", class_="form-control-label") }}

                            {% if form.email.errors %}
                                {{ form.email(class_="form-control is-invalid", id="email", placeholder="userexample@ghmail.com", maxlength="100") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class_="form-control", id="email", placeholder="userexample@ghmail.com", maxlength="100") }}
                            {% endif %}
                            
                        </div>

                        <div class="form-group col-md-6">
                            {{ form.username.label(for="username", class_="form-control-label") }}

                            {% if form.username.errors %}
                                {{ form.username(class_="form-control is-invalid", id="username", placeholder="Nickname e.g. DThompson", maxlength="40") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class_="form-control", id="username", placeholder="Nickname e.g. DThompson", maxlength="40") }}
                            {% endif %}
                            
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.password.label(for="password", class_="form-control-label") }}

                            {% if form.password.errors %}
                                {{ form.password(class_="form-control is-invalid", id="password", placeholder="Enter your password", minlength="12") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class_="form-control", id="password", placeholder="Enter your password", minlength="12") }}
                            {% endif %}
                            
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputGender">Gender</label>
                            <select id="inputGender" class="form-control" name="gender" required>
                                    <option selected value="M">Male</option>
                                    <option value="F">Female</option>
                            </select>
                        </div>
                        
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.bio.label(for="biography", class_="form-control-label") }}

                            {% if form.bio.errors %}
                                {{ form.bio(class_="form-control", id="biography",cols="30", rows="10", placeholder="Write your biography here. Keep it simple", maxlength="300") }}
                                <div class="invalid-feedback">
                                    {% for error in form.bio.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.bio(class_="form-control", id="biography",cols="30", rows="10", placeholder="Write your biography here. Keep it simple", maxlength="300") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <p>Form fields with * are required</p>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn text-black"
                            style="padding: 8px; border-radius: 8px;"
                            value="Sign Up">
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>
{% endblock %}