{% extends 'layout.html' %}

{% block title %}{{ article['title'] }}{% endblock %}

{% block keywords %}
  {{"IceBlog, Blog, Ghana, " + article.get('keywords', 'Post, Information, Content, Details about ' + article["title"]) }}
{% endblock %}

{% block author %}{{article['author']}}{% endblock %}

{% block content%}

<div class="site-cover site-cover-sm same-height single-page outside">
  <div class="container">
    <div class="row same-height justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="post-entry text-center">
          <span class="post-category text-white bg-{{ color.get(article['category'], 'iceblog') }} mb-3">{{ article['category'] }}</span>
          <h3 class="mb-4 text-black text-uppercase">{{ article['title'] }}</h3>
          <div class="post-meta align-items-center text-center">
            <figure class="author-figure mb-0 mr-3 d-inline-block">
              <picture>
                <source type="image/webp" srcset="{{ url_for('static', filename='images/webp/' + article['author'] + '.webp') }}">
                <img src="{{ url_for('static', filename='images/jpg/' + article['author'] + '.jpg') }}" alt="Image with the username of the author" class="img-fluid"
                width="30" height="30">
              </picture>
            </figure>
            <span class="d-inline-block mt-1 text-black">By {{ article['author'] }}</span>
            {% if article['bodyUpdated'] == True %}
              <span class="text-black">&nbsp;-&nbsp; {{ article['dateUpdated'].strftime('%B %d, %Y') }},&nbsp; Updated</span>
            {% else %}
              <span class="text-black">&nbsp;-&nbsp; {{ article['datePosted'].strftime('%B %d, %Y') }}</span>
            {% endif %}
          </div>
          <span class="post-category text-white bg-dark">{{ article['readTime'] }} mins</span>
        </div>
      </div>
    </div>
  </div>
  </div>

  <section class="site-section py-lg">
  <div class="container">
    <div class="row blog-entries element-animate">

      <div class="col-md-12 col-lg-8 main-content">

        <div class="post-content-body img_align">
          <p style="font-family:'Montserrat',sans-serif!important;">
            {{ article['body'] | safe }}
          </p>
        </div>


        <div class="pt-5">
          <p>
            Categories: <span style="color: #ab0256;">{{ article['category'] }}</span> &nbsp;&nbsp;

            <button class="btn_like" id="{{ article['slug'] }}" aria-label="Like button" value="+1" style="background: transparent; border: none;">
              <span class="icon-heart dislike" id="user_like"></span>
            </button> 
            <span id="current_like">{{ article['likes'] }}</span> likes
          </p>
          
        </div>


        <div class="pt-5" id="comment-section">
          <h4 class="mb-5">{{ len_comments }} Comments</h4>
          <ul class="comment-list">
            {% for comment in article['comments'] %}
              {% if comment['approved'] == True %}
                <li class="comment">
                  <div class="vcard">
                    <img src="{{ url_for('static', filename='images/webp/comments.webp') }}" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h6>{{ comment['name'] }}</h6>
                    <div class="meta">{{ comment['datePosted'].strftime('%B %d, %Y at %I:%M %p') }}</div>
                    <p>{{ comment['message'] }}</p>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
            
          </ul>
          <button id="showComments" class="view">Click to View All Comments &downarrow;</button>

          <!-- END comment-list -->

          <div class="comment-form-wrap pt-5 mb-4">
            <h4>Leave a comment </h4>
            <p class="mb-5" style="font-size: large;">
              We review comments before we publish them.
              Be cool. Be helpful. Be polite. Let's all have fun. 
            </p>
            <form class="p-5 bg-light">

              <div class="form-group">
                {{ form.comment_name.label(for="comment_name") }}
                {{ form.comment_name(class_="form-control", id="comment_name", placeholder="Firstname or Nickname", maxlength="20") }}
              </div>

              <div class="form-group">
                {{ form.comment_msg.label(for="comment_msg") }}
                {{ form.comment_msg(class_="form-control", id="comment_msg",cols="30", rows="10", placeholder="Write your comment here.", maxlength="200") }}
              </div>
              <div class="form-group">
                <p>Fields with * are required</p>
              </div>

              <div class="form-group" id="comment-alert" style="display:none;">
                 <div class="alert alert-info text-center" style="font-size: 12pt;" role="alert"></div>
               </div>

              <div class="form-group">
                <input type="submit" id="btnPostComment" name="{{ article['title'].lower().replace(' ', '-') + '/' + article['slug'] }}" value="Post Comment" class="btn">
              </div>

            </form>
          </div>
        </div>

      </div>

      <!-- END main-content -->

      <div class="col-md-12 col-lg-4 sidebar">
        
        <!-- END sidebar-box -->
        <div class="sidebar-box">
          <div class="bio text-center">
            <picture>
              <source type="image/webp" srcset="{{ url_for('static', filename='images/webp/' + article['author'] + '.webp') }}">
              <img src="{{ url_for('static', filename='images/jpg/' + article['author'] + '.jpg') }}" alt="Image with the username of the author" class="img-fluid mb-5">
            </picture>

            <div class="bio-body">
              <h2>{{ article['author'] }}</h2>
              <p><a href="/about#meet-team" aria-label="Read author's biography" class="btn btn-sm rounded px-4 py-2" style="color: #101010;">Read my bio</a></p>

            </div>
          </div>
        </div>
        <!-- END sidebar-box -->
        <div class="sidebar-box">
          <h3 class="heading">Quote of the day</h3>
          <div class="post-entry-sidebar">
            <blockquote>
              <span class="icon-quote-left"></span> &nbsp;
              {{ inspire[0]['text'] }} &nbsp;
              <span class="icon-quote-right"></span>
            </blockquote> 
            <p class="text-black" style="float: right;"> - {{ inspire[0]['author'] }}</p>
            
          </div>
        </div>

        <div class="sidebar-box" id="newsletter">

          <div class="text-center">
            <h2><label for="news_subscribe">Subscribe to our newsletter</label></h2>
            <p class="mb-5">
              Get informative blogs delivered to your inbox every week. 
              No spam ever. Unsubscribe any time. Curated by the IceBlog 😉.
            </p>
            <div class="form-group" id="newsletter-alert" style="display:none;">
              <div class="alert alert-info text-center" style="font-size: 12pt;" role="alert"></div>
            </div>
            <form>
              <input type="email" id="news_subscribe" class="form-control mb-2" placeholder="Enter your email address" maxlength="60" required>
              <input type="submit" class="btn" id="btnSubscribe" name="{{ article['title'].lower().replace(' ', '-') + '/' + article['slug'] }}" value="Subscribe">
            </form>
          </div>
        </div>
        <!-- END sidebar-box -->

      </div>
      <!-- END sidebar -->

    </div>
  </div>
  </section>

  <div class="site-section" style="background-color: #f5e9eb;">
    <div class="container">

      <div class="row mb-5">
        <div class="col-12">
          <h2>Recommended Posts</h2>
        </div>
      </div>

      <div class="row align-items-stretch retro-layout">

        <div class="col-md-5 order-md-2">
          <a href="/blog_post/{{ related_post[0]['title'].lower().replace(' ', '-') }}/{{ related_post[0]['slug'] }}" aria-label="Link to blog post" id="related_1" class="hentry img-1 h-100 gradient"
          style="--webp-related-post-one: url({{ 'https://drive.google.com/uc?export=view&id=' + related_post[0]['id_webp_cover'] }});
--jpg-related-post-one: url({{ 'https://drive.google.com/uc?export=view&id=' + related_post[0]['id_jpg_cover'] }});">
            <span class="post-category text-white bg-{{ color.get(related_post[0]['category'], 'iceblog') }}">
              {{ related_post[0]['category'] }}
            </span>
            <div class="text">
              <h2>{{ related_post[0]['title'] }}</h2>
              <span>{{ related_post[0]['datePosted'].strftime('%B %d, %Y') }}</span>
            </div>
          </a>
        </div>

        <div class="col-md-7">

          <a href="/blog_post/{{ related_post[1]['title'].lower().replace(' ', '-') }}/{{ related_post[1]['slug'] }}" aria-label="Link to blog post" id="related_2" class="hentry img-2 v-height mb30 gradient"
          style="--webp-related-post-two: url({{ 'https://drive.google.com/uc?export=view&id=' + related_post[1]['id_webp_cover'] }});
--jpg-related-post-two: url({{ 'https://drive.google.com/uc?export=view&id=' + related_post[1]['id_jpg_cover'] }});">
            <span class="post-category text-white bg-{{ color.get(related_post[1]['category'], 'iceblog') }}">
              {{ related_post[1]['category'] }}
            </span>
            <div class="text text-sm">
              <h2>{{ related_post[1]['title'] }}</h2>
              <span>{{ related_post[1]['datePosted'].strftime('%B %d, %Y') }}</span>
            </div>
          </a>

          <div class="two-col d-block d-md-flex">
            <a href="/blog_post/{{ related_post[2]['title'].lower().replace(' ', '-') }}/{{ related_post[2]['slug'] }}" aria-label="Link to blog post" id="related_3" class="hentry v-height img-2 gradient"
            style="--webp-related-post-three: url({{ 'https://drive.google.com/uc?export=view&id=' + related_post[2]['id_webp_cover'] }});
--jpg-related-post-three: url({{ 'https://drive.google.com/uc?export=view&id=' + related_post[2]['id_jpg_cover'] }});">
              <span class="post-category text-white bg-{{ color.get(related_post[2]['category'], 'iceblog') }}">
                {{ related_post[2]['category'] }}
              </span>
              <div class="text text-sm">
                <h2>{{ related_post[2]['title'] }}</h2>
                <span>{{ related_post[2]['datePosted'].strftime('%B %d, %Y') }}</span>
              </div>
            </a>
            <a href="/blog_post/{{ related_post[3]['title'].lower().replace(' ', '-') }}/{{ related_post[3]['slug'] }}" aria-label="Link to blog post" id="related_4" class="hentry v-height img-2 ml-auto gradient"
            style="--webp-related-post-four: url({{ 'https://drive.google.com/uc?export=view&id=' + related_post[3]['id_webp_cover'] }});
--jpg-related-post-four: url({{ 'https://drive.google.com/uc?export=view&id=' + related_post[3]['id_jpg_cover'] }});">
              <span class="post-category text-white bg-{{ color.get(related_post[3]['category'], 'iceblog') }}">
                {{ related_post[3]['category'] }}
              </span>
              <div class="text text-sm">
                <h2>{{ related_post[3]['title'] }}</h2>
                <span>{{ related_post[3]['datePosted'].strftime('%B %d, %Y') }}</span>
              </div>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>

{% endblock %}