{% extends 'layout.html' %}

{% block title %}{{ article['title'] }}{% endblock %}

{% block content%}

<div class="site-cover site-cover-sm same-height single-page outside">
  <div class="container">
    <div class="row same-height justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="post-entry text-center">
          <span class="post-category text-white bg-{{ color.get(article['category'], 'secondary') }} mb-3">{{ article['category'] }}</span>
          <h2 class="mb-4 text-black text-uppercase">{{ article['title'] }}</h2>
          <div class="post-meta align-items-center text-center">
            <figure class="author-figure mb-0 mr-3 d-inline-block">
              <img src="{{ url_for('static', filename='images/webp/randy.webp') }}" alt="Image" class="img-fluid">
            </figure>
            <span class="d-inline-block mt-1 text-black">By {{ article['author'] }}</span>
            {% if article['bodyUpdated'] == True %}
              <span class="text-black">&nbsp;-&nbsp; {{ article['dateUpdated'].strftime('%B %d, %Y') }},&nbsp; Updated</span>
            {% else %}
              <span class="text-black">&nbsp;-&nbsp; {{ article['datePosted'].strftime('%B %d, %Y') }}</span>
            {% endif %}
          </div>
          <span class="post-category text-white bg-dark">{{ article['readTime'] }} mins</span>
        </div>
      </div>
    </div>
  </div>
  </div>

  <section class="site-section py-lg">
  <div class="container">
    <div class="row blog-entries element-animate">

      <div class="col-md-12 col-lg-8 main-content">

        <div class="post-content-body img_align">
          <p>
            {{ article['body'] | safe }}
          </p>
        </div>


        <div class="pt-5">
          <p>
            Categories: <span style="color: #ab0256;">{{ article['category'] }}</span> &nbsp;&nbsp;

            <button class="btn_like" id="{{ article['_id'] }}" aria-label="Like button" value="+1" style="background: transparent; border: none;">
              <span class="icon-heart dislike" id="user_like"></span>
            </button> 
            <span id="current_like">{{ article['likes'] }}</span> likes
          </p>
          
        </div>


        <div class="pt-5" id="comment-section">
          <h4 class="mb-5">{{ len_comments }} Comments</h4>
          <ul class="comment-list">
            {% for comment in article['comments'] %}
              {% if comment['approved'] == True %}
                <li class="comment">
                  <div class="vcard">
                    <img src="{{ url_for('static', filename='images/webp/comments.webp') }}" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h5>{{ comment['name'] }}</h5>
                    <div class="meta">{{ comment['datePosted'].strftime('%B %d, %Y at %I:%M %p') }}</div>
                    <p>{{ comment['message'] }}</p>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
            
          </ul>
          <!-- END comment-list -->

          <div class="comment-form-wrap pt-5 mb-4">
            <h4>Leave a comment </h4>
            <p class="mb-5" style="font-size: large;">
              Comments are reviewed before they are published.
              Be cool. Be helpful. Be polite. Let's all have fun. 
            </p>
            <form action="" method="POST" class="p-5 bg-light">

              <div class="form-group">
                {{ form.name.label(for="Cname") }}
                {{ form.name(class_="form-control", id="Cname", placeholder="Firstname or Nickname") }}
              </div>

              <div class="form-group">
                {{ form.msg.label(for="message") }}
                {{ form.msg(class_="form-control", id="message",cols="30", rows="10", placeholder="Write your comment here.") }}
              </div>
              <div class="form-group">
                <p>Fields with * are required</p>
              </div>
              <div class="form-group">
                <input type="submit" value="Post Comment" class="btn">
              </div>

            </form>
          </div>
        </div>

      </div>

      <!-- END main-content -->

      <div class="col-md-12 col-lg-4 sidebar">
        
        <!-- END sidebar-box -->
        <div class="sidebar-box">
          <div class="bio text-center">
            <img src="{{ url_for('static', filename='images/webp/randy.webp') }}" alt="Image Placeholder" class="img-fluid mb-5">
            <div class="bio-body">
              <h2>{{ article['author'] }}</h2>
              <p><a href="/about#meet-team" aria-label="Read author's biography" class="btn btn-sm rounded px-4 py-2" style="color: #101010;">Read my bio</a></p>

            </div>
          </div>
        </div>
        <!-- END sidebar-box -->
        <div class="sidebar-box">
          <h3 class="heading">Quote of the day</h3>
          <div class="post-entry-sidebar">
            <blockquote>
              <span class="icon-quote-left"></span> &nbsp;
              {{ inspire[0]['text'] }} &nbsp;
              <span class="icon-quote-right"></span>
            </blockquote> 
            <p class="text-black" style="float: right;"> - {{ inspire[0]['author'] }}</p>
            
          </div>
        </div>

        <div class="sidebar-box" id="newsletter">
          <div class="text-center">
            <div class="col">
                {% include 'includes/_message.html'%}
              </div>
            <h2><label for="news_subscribe">Subscribe to our newsletter</label></h2>
            <p class="mb-5">
              Get informative blogs delivered to your inbox every week. 
              No spam ever. Unsubscribe any time. Curated by the IceBlog 😉.
            </p>
            <form action="" method="POST">
              <input type="email" name="newsletter" id="news_subscribe" class="form-control mb-2" placeholder="Enter your email address">
              <input type="submit" class="btn" value="Subscribe">
            </form>
          </div>
        </div>
        <!-- END sidebar-box -->

      </div>
      <!-- END sidebar -->

    </div>
  </div>
  </section>

  <div class="site-section bg-light">
    <div class="container">

      <div class="row mb-5">
        <div class="col-12">
          <h2>Recommended Posts</h2>
        </div>
      </div>

      <div class="row align-items-stretch retro-layout">

        <div class="col-md-5 order-md-2">
          <a href="/blog_post/{{ related_post[0]['_id'] }}/" aria-label="Link to blog post" class="hentry img-1 h-100 gradient"
            style="background-image: url('{{ url_for('static', filename='images/webp/iceblog_2.webp') }}');">
            <span class="post-category text-black bg-{{ color.get(related_post[0]['category'], 'secondary') }}">
              {{ related_post[0]['category'] }}
            </span>
            <div class="text">
              <h2>{{ related_post[0]['title'] }}</h2>
              <span>{{ related_post[0]['datePosted'].strftime('%B %d, %Y') }}</span>
            </div>
          </a>
        </div>

        <div class="col-md-7">

          <a href="/blog_post/{{ related_post[1]['_id'] }}/" aria-label="Link to blog post" class="hentry img-2 v-height mb30 gradient"
            style="background-image: url('{{ url_for('static', filename='images/webp/iceblog_2.webp') }}');">
            <span class="post-category text-black bg-{{ color.get(related_post[1]['category'], 'secondary') }}">
              {{ related_post[1]['category'] }}
            </span>
            <div class="text text-sm">
              <h2>{{ related_post[1]['title'] }}</h2>
              <span>{{ related_post[1]['datePosted'].strftime('%B %d, %Y') }}</span>
            </div>
          </a>

          <div class="two-col d-block d-md-flex">
            <a href="/blog_post/{{ related_post[2]['_id'] }}/" aria-label="Link to blog post" class="hentry v-height img-2 gradient"
              style="background-image: url('{{ url_for('static', filename='images/webp/iceblog_2.webp') }}');">
              <span class="post-category text-black bg-{{ color.get(related_post[2]['category'], 'secondary') }}">
                {{ related_post[2]['category'] }}
              </span>
              <div class="text text-sm">
                <h2>{{ related_post[2]['title'] }}</h2>
                <span>{{ related_post[2]['datePosted'].strftime('%B %d, %Y') }}</span>
              </div>
            </a>
            <a href="/blog_post/{{ related_post[3]['_id'] }}/" aria-label="Link to blog post" class="hentry v-height img-2 ml-auto gradient"
              style="background-image: url('{{ url_for('static', filename='images/webp/iceblog_2.webp') }}');">
              <span class="post-category text-black bg-{{ color.get(related_post[3]['category'], 'secondary') }}">
                {{ related_post[3]['category'] }}
              </span>
              <div class="text text-sm">
                <h2>{{ related_post[3]['title'] }}</h2>
                <span>{{ related_post[3]['datePosted'].strftime('%B %d, %Y') }}</span>
              </div>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>


{% endblock %}