<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar sticky-top shadow-sm" role="banner">
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-4 site-logo">
                <a href="/" aria-label="IceBlog's logo" class="text-black h2 mb-0"
                    style="font-family: 'Montez', cursive; font-size: 50px;">IceBlog</a>
            </div>

            <div class="col-8 text-right">
                <nav class="site-navigation" role="navigation">
                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
                        <li><a href="/" aria-label="Home link">Home</a></li>
                        <li><a href="/category?page=0" aria-label="Blogs link">Blogs</a></li>
                        <li><a href="/about" aria-label="About link">About</a></li>
                        <li><a href="/contact" aria-label="Contact link">Contact</a></li>
                    </ul>
                </nav>
                <a href="#" aria-label="Menu icon"
                    class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span
                        class="icon-menu h3"></span></a>
            </div>

        </div>

    </div>
</header>